# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL=""



# BETTER AUTH
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000/" 


# GITHUB AUTH
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""


# RESEND API KEY
RESEND_API_KEY=""


# UNKEY API KEY AUTH
UNKEY_ROOT_KEY=""
UNKEY_API_ID=""


# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"
